/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #212529ff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    min-width: 80px; /* Ajusta este valor según sea necesario */
}


 /* The navigation menu links */
.sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 5.3s;
        text-align: justify-all;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to move the icon menu */
.nav-menuClass {
    transition: margin-left .9s;
    margin-left: 225px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 765px) {
    .sidenav {
        padding-top: 15px;
        
    }

    .sidenav a {
        font-size: 18px;
    }
}


@media screen and (max-width: 765px) {
    .sidenav {
        margin-top: 53px;
        min-width: 0px;
    }
}

@media screen and (min-width: 766px) {
    .sidenav {
        margin-top: 63px;
      
    }
}

/* Define el estilo para los iconos */
.sidenav a .icon {
    display: inline-block;
    margin-right: 20px;
   
}

.sidenav a {
    position: relative;
}

.sidenav a .text {
    position: absolute;
    left: 70px; /* Ajusta el valor según sea necesario */
    top: 7px;
    display: none;
}

.sidenav.expanded a .text {
    display: block;
}

.sidenav a .text-header {
    left: 10px; /* Ajusta el valor según sea necesario */
    top: 7px;
    display: none;
}
.sidenav.expanded a .text-header {
    display: block;
}

.menu-header {
    text-align: center;    
    color: #fff; /* Color del texto del encabezado */
}

.divider {

    border-top: 2px solid #333; /* Color y estilo del divisor */
    margin: 10px 0; /* Espaciado alrededor del divisor */
}


.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.9s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


